html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Impede barras de rolagem */
}

#root-window {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#render-target {
    width: 100%;
    height: 100%;
}
